{
    "comments": false, //отключает коментарии в коде
    "presets": [
        "@babel/preset-env", //это умный присет(предустановка) который переделывает из нового Js в Старый
        "minify" //Это минифицирует js код
    ]
}