$lg:1350px;
$md:1100px;
$sm:800px;
$xs:600px;
$gutter:30px;
$column:24;
$gutter-side:$gutter/2;

@mixin container($padding:$gutter-side) {
       width: 100%;
       max-width: floor($lg * 0.95);
       margin-left: auto;
       margin-right: auto;
       padding-left: $padding;
       padding-right: $padding;

       @include media($lg){
                 max-width: floor($md * 0.95);
       }


       @include media($md){
        max-width: floor($sm * 0.95);
}

@include media($sm){
  max-width: floor($xs * 0.95);
}
}
@mixin row($margin:$gutter-side) {
  margin-left: -$margin;
  margin-right: -$margin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@mixin col-base($margin:$gutter-side){
  margin-left: $margin;
  margin-right: $margin;
  flex-grow: 0;
  @content;
}
@mixin col($col-n,$margin:$gutter-side) {
  @include col-base($margin){
    $gutter:$margin*2;
    width: calc(100% / #{$column} * #{$col-n} - #{$gutter});
    @content;
  }
}
@mixin col-lg($col-n,$margin:$gutter-side) {
@include media($lg){
 @include col($col-n,$margin){
    @content;
 }
}
}
@mixin col-md($col-n,$margin:$gutter-side) {
  @include media($md){
   @include col($col-n,$margin){
      @content;
   }
  }
  }
  @mixin col-sm($col-n,$margin:$gutter-side) {
    @include media($sm){
     @include col($col-n,$margin){
        @content;
     }
    }
    }
    @mixin col-xs($col-n,$margin:$gutter-side) {
      @include media($xs){
       @include col($col-n,$margin){
          @content;
       }
      }
      }








































@mixin media($size:$lg) {
@media (max-width:$size){
@content;
}
}

