<div class="about">
  <div class="about-wrap">
    <div class="about__content">
      <div class="about__content-map">
        <h3 class="about__content-titleMap">WHERE AM I</h3>
        <iframe class="about__content-iframe"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d167998.10803373056!2d2.206977064368058!3d48.858774103123785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2z0J_QsNGA0LjQtiwg0KTRgNCw0L3RhtC40Y8!5e0!3m2!1sru!2s!4v1586633945373!5m2!1sru!2s"
          frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

      </div>
      <div class="about__content-me">
        <div class="about__content-part">
          <h3 class="about__content-titleMe">ABOUT ME</h3>
          <p class="about__content-info">Hi! I'm a Travellerr based on Assam
            I love editing photos, clicking photos, creating responsive websites alongwith high quality graphics.</p>
          <span class="about__content-follow">Follow Me</span>
          <div class="about__content-icons">
            <img src="images/ff.png" alt="" class="about__content-img">
            <img src="images/tt.png" alt="" class="about__content-img">
            <img src="images/gg.png" alt="" class="about__content-img">
            <img src="images/ii.png" alt="" class="about__content-img">
            <img src="images/yy.png" alt="" class="about__content-img">
          </div>
        </div>
        <img class="about__content-portret" src="images/rainbow1-min.jpg" alt="">
      </div>

      <div class="about__content-news">
        <h3 class="about__content-titleNews">Newsletter</h3>
        <form action="">
          <label for="">
            <input class="about__content-add" type="email" placeholder="Your email address">
          </label>
        </form>

        <a href="#" class="about__content-up">sign up</a>

      </div>
      <div class="about__content-categories">
        <h3 class="about__content-titleCategories">Categories</h3>
        <ul class="about__content-desc">
          <li class="about__content-li"><a class="about__content-link" href="">Nature</a> </li>
          <li class="about__content-li"><a class="about__content-link" href="">Nightlife</a></li>
          <li class="about__content-li"><a class="about__content-link" href="">Lifestyle</a></li>
          <li class="about__content-li"><a class="about__content-link" href="">Food</a></li>
        </ul>
      </div>
      <div class="about__content-recent">
        <h3 class="about__content-titleRecent">Recent Post</h3>
        <div class="about__content-post">
          <div class="about__content-image">
            <img src="images/mariona-campmany.jpg" alt="">
          </div>
          <div class="about__content-date">
            <p class="about__content-text">Travelling with your buddies.</p>
            <p class="about__content-month">July 25, 2016</p>
          </div>
        </div>
        <div class="about__content-post">
          <div class="about__content-image">
            <img src="images/mariona-campmany.jpg" alt="">
          </div>
          <div class="about__content-date">
            <p class="about__content-text">Travelling with your buddies.</p>
            <p class="about__content-month">July 25, 2016</p>
          </div>
        </div>
        <div class="about__content-post">
          <div class="about__content-image">
            <img src="images/mariona-campmany.jpg" alt="">
          </div>
          <div class="about__content-date">
            <p class="about__content-text">Travelling with your buddies.</p>
            <p class="about__content-month">July 25, 2016</p>
          </div>
        </div>
        <div class="about__content-post">
          <div class="about__content-image">
            <img src="images/mariona-campmany.jpg" alt="">
          </div>
          <div class="about__content-date">
            <p class="about__content-text">Travelling with your buddies.</p>
            <p class="about__content-month">July 25, 2016</p>
          </div>
        </div>
      </div>
      <div class="about__content-tags">
        <h3 class="about__content-titleTags">Tags</h3>
        <div class="about__content-block">
          <ul class="about__content-item">
            <li><a class="about__content-links" href="">LIFESTYLE</a></li>
            <li><a class="about__content-links" href="">NATURE</a></li>
            <li><a class="about__content-links" href="">TREKKING</a></li>
          </ul>
          <ul class="about__content-item">
            <li><a class="about__content-links" href="">TRAVEL</a></li>
            <li><a class="about__content-links" href="">LOST</a></li>
            <li><a class="about__content-links" href="">LIFESTYLE</a></li>
          </ul>
        </div>
      </div>
      <div class="about__content-contact">
        <h4 class="about__content-titleContact">CONTACT ME</h4>
        <form action="" class="about__content-form">
          <label for="">
            <input  class="about__content-input" type="text" placeholder="Your Name">
            <!-- <span></span> -->
          </label>
          <label for="">
            <input  class="about__content-input" type="email" placeholder="Your Email">
            <!-- <span></span> -->
          </label>
          <label for="">
            <textarea  class="about__content-message" name="" id="" placeholder="Your Massage"></textarea>
            <!-- <span></span> -->
          </label>
          <button class="about__content-send">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
