<div class="profile">
        <div class="profile__content">
      <div class="profile__content-info">
        <div class="profile__content-night">
        <h5 class="profile__content-title">NIGHT LIFE </h5>
        <p class="profile__content-desc"> Written in the stars, Million
          miles away!</p>
        <p class="profile__content-text">A high degree of autonomy is particularly desirable in fields such as space exploration...</p>
        <div class="profile__content-block">
          <a href="" class="profile__content-link">Readmore</a>
          <div class="profile__content-part">
            <a href="" class="profile__content-share">Share</a>
            <div class="profile__content-icons">
              <img src="images/fff.png" alt="" class="profile__content-icon">
              <img src="images/ttt.png" alt="" class="profile__content-icon">
              <img src="images/iii.png" alt="" class="profile__content-icon">
            </div>
          </div>
        </div>
        </div>
        </div>
        <div class="profile__content-foto profile__content-cards ">
          <div class="profile__content-card">
             <img src="images/stars.jpg" alt="" class="profile__content-img">
            <div class="profile__content-image">
              <div class="profile__content-end">
                <a href="" class="profile__content-redmore">Readmore</a>
              </div>
              <div class="profile__content-date">

                <div class="profile__content-lake">
                  <p class="profile__content-time">April 19, 2017. </p>
                  <img src="images/iii.png" alt="" class="profile__content-hard">
                  <p class="profile__content-number">100. </p>
                  <img src="images/iii.png" alt="" class="profile__content-hard">
                  <p class="profile__content-number">20.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
