
<nav class="aside">
  <div class="container aside__container">
    <div class="aside__nav">
      <div class="aside__nav-search">
        <label class="aside__nav-input">
          <input type="text" placeholder="Search and hit enter">
        </label>
        <img src="images/search.png" alt="">
      </div>
      <div class="aside__logotype">
        <a href="" class="logo">
          <img src="images/logo.png" alt="">
        </a>
      </div>
      <div class="aside__nav-button">
        <button type="submit">SubScribe</button>
      </div>
    </div>
    <div class="aside__nav-link">
      <ul class="aside__menu">
        <li><a href="" class="aside__menu-item">home </a></li>
        <li><a href="" class="aside__menu-item">featured </a></li>
        <li><a href="" class="aside__menu-item"> BLOGS</a></li>
        <li><a href="" class="aside__menu-item"> GALLERY</a></li>
        <li><a href="" class="aside__menu-item"> categories </a></li>
        <li><a href="" class="aside__menu-item">contact</a></li>
      </ul>
      <div class="aside__icon">
        <img src="images/f.png" alt="" class="aside__icon-image">
        <img src="images/tv.png" alt="" class="aside__icon-image">
        <img src="images/g.png" alt="" class="aside__icon-image">
        <img src="images/i.png" alt="" class="aside__icon-image">
        <img src="images/y.png" alt="" class="aside__icon-image">
      </div>
    </div>

  </div>

</nav>
