<header class="header">
  <div id="particle"></div>
  <div class="container">
    <div class="header__content">
  <div class="header__content-name">
    <h2 class="header__content-title">Travelling</h2>
    <div class="header__content-red">
      <img src="images/Path.png" alt="" class="header__content-img">
    <p class="header__content-desc">SPORTS THAT NEVER ENDS</p>
    </div>

  </div>

  <div class="header__content-slayder">
    <p class="header__content-blog">FEATURED BLOG</p>
    <div class="header__content-part">
      <div class="header__content-button">
      <div class="header__content-next">
        <img src="images/next.png" alt="" class="header__content-image">
      </div>
      <div class="header__content-prev">
        <img src="images/prev.png" alt="" class="header__content-image">
      </div>
    </div>
    <div class="header__content-info">
      <h1 class="header__content-lost">LOST IN SPACE</h1>
      <p class="header__content-some">Some modern factory robots are "autonomous" within the strict confines of their direct environment. It may not be
        that every degree of freedom exists</p>
        <div class="header__content-about wow bounceInDown">
          <a href="#" class="header__content-link">EXPLORE NOW</a>
        <img src="images/Path_black.png" class="header__content-path" alt="">
        </div>

       <div class="header__content-points">
          <div class="header__content-point"></div>
        <div class="header__content-point"></div>
        <div class="header__content-point"></div>
        <div class="header__content-point"></div>
        <div class="header__content-point"></div>
       </div>

    </div>
    </div>

  </div>
</div>
  </div>

</header>
